.DS_Store
node_modules/

###

config/*

config/puppets/*
!config/puppets/
!config/puppets/.gitkeep
!config/puppets/good.ts
!config/puppets/evil.ts

config/plays/*
!config/plays/
!config/plays/.gitkeep
!config/plays/bardo.ts

cache/*
!cache/.gitkeep

.env*
!.env.TEMPLATE

###

_TMP
_DEV